<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extensions.Dependency" version="1.0.0" targetFramework="net461" />
  <package id="Extensions.ObjectDesigner" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Ptg.Animation" version="1.0.0" targetFramework="net461" />
  <package id="Ptg.Core" version="1.0.0" targetFramework="net461" />
  <package id="Ptg.Drawing" version="1.0.0" targetFramework="net461" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net451" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="net451" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
</packages>